main {
    display: flex;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenedorFrutas {
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 2px solid;
}

.card-producto {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-producto img {
    width: 50px;
    height: 50px;
}

#contenedorCarrito {
    width: 50%;
    margin: auto;
}

#contenedorCarrito li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}